<br>
**Q. What 'is Python**? 

**Ans.**

  **1)** Python is a **high level language** (its optimized for reading by people instead of machine)

  **2)** It's an **interpreted language** (it's not compiled directly to machine code)
     
  **3)** Commonly used in **iteractive manner**: we can start interactive interpreter and begine writing code line by line. And interpreter evaluate each statement unlike **Java** or **C** were we write our code compile it and get the output by running.
  
  **4)** A **dynamically typed langauage** (like javascipt): when we declare a variable we can assign it to an int in one line and string in another

# The Python Programming Language: Functions

In [1]:
x = 1
y = 3
x + y

4

In [2]:
x

1

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [ ]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [ ]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

<br>
`add_numbers` updated to take an optional flag parameter.

In [ ]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

<br>
Assign function `add_numbers` to variable `a`.

In [ ]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

<br>
# Types and Sequences

* **No static typing** (No type checking during complie time). Type checking is performed during run time- **Dynamic typing**)
* Has a built in function ***type*** to return the object's type.
* Typed objects have properties associated with them and these can be either **Data** or **functions** 

**Python has Five standard Data Types**
* Numbers
* String
* Tuple
* List
* Dictionary

In [7]:
type('This is a string')

float

In [2]:
type(None) #None is a special variable type, it repersents "empty state"

NoneType

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [9]:
################################
def add_numbers(x, y):
    return x + y
################################
type(add_numbers) # "function" is also a type in python

function

# String
Accessing values in a string

In [57]:
x = 'This is a string'
print(x[0])    # first character, indices start with 0
print(x[0:1])  # first character, but we have explicitly set the end character
print(x[0:2])  # first two characters
print(x[-1])   # will return the last character
print(x[-4:-2])# 4th element from the end and stopping before the 2nd element from the end
print(x[:3])   # a slice from the beginning of the string and stopping before the 3rd element
print(x[3:])   # a slice from the 3rd element

T
T
Th
g
ri
Thi
s is a string

**Basic String Operations**
* **+, *, [], [:], in, not in, split**

In [71]:
firstname = 'Birendra'
lastname = 'Kumar'

print(firstname + ' ' + lastname) # concatenate two strings using +
print(firstname*3)                # repeats the same string using *
print('Kumar' in firstname)       # checks membership
print('Kumar' in lastname)
print('Kumar' not in lastname)    # checks membership

print(firstname+str(2))           # need to convert to string before concatenating

Birendra Kumar
BirendraBirendraBirendra
False
True
False
Birendra2

**split** returns a **list** of all the words in a string, or a list split on a specific character

In [70]:
firstname = 'Chris Arthur Hansen Brooks'.split(' ')    # return a list 
#firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)
type(firstname)

['Christopher', 'Arthur', 'Hansen', 'Brooks']
Brooks

list

**Basic String Methods**

In [2]:
S = 'Strings'
S.find('s')                # Find the offset of a substring in S, meaning the index from where searched substring starting

6

In [6]:
print S.replace('s', 'es') # Replace existing substring with another
print S                    # note that original substring is as it is

Stringes
Strings

In [8]:
print S.upper()                # Upper- and lowercase conversions
print S.lower()

STRINGS
strings

In [9]:
line = 'strings   '   
line

'strings   '

In [10]:
line.rstrip()             # used to strip white spaces from a string

'strings'

In [11]:
line                      # again no change in original string

'strings   '

# Tuples 

* Has **an ordered set** of items
* **Immutable** (can't be changed)
* Created using parenthesis 
* Single and double quotes both work (when dealing with strings)
* can store different types of observations (e.g: int, float, string)
* Indices start with 0

In [30]:
x = (1, 'a', 2, 'b', 'c',1.0, add_numbers(1,2)) # defining a tuple x
x1 = ()                                         # an empty tuple
x2 = (1,)                                       # tuple with single element, have to insert , even we single element
#type(x2)
len(x2)

1

**Accessing values in Tuple**

In [39]:
tup1 = (1,2,2,3,4,5,6,'string')
print(tup1[3])                         # selecting 4th observation
print(tup1[0:3])                       # selecting a continuous range
print(tup1[1::2])                      # selecting alternate observations starting from indices 1
print(tuple(tup1[i] for i in [0,2,5])) # selecting specific observations

3
(1, 2, 2)
(2, 3, 5, 'string')
(1, 2, 5)

**Updating Tuples** 
* Tuples are immutable which means we cannot update or change the values of tuple elements
* We can create a new tuple with existing tuples

In [42]:
tup2 = ('a','b','c')
tup3 = tup1 + tup2      # here '+' used for concatenation
print(tup3)             # print tup3 will also give same result
print tup3

(1, 2, 2, 3, 4, 5, 6, 'string', 'a', 'b', 'c')
(1, 2, 2, 3, 4, 5, 6, 'string', 'a', 'b', 'c')

**Basic Tuple Opreations**

In [47]:
print(len(tup1))       # len() gives lenght of tuple
print((1,) * 4)        # * used for repetition
print 5 in tup1        # in used to check membership output will be true/false
for x in tup1: print x # iteration over tup1

8
(1, 1, 1, 1)
True
1
2
2
3
4
5
6
string

**Built in Tuple functions**

In [49]:
cmp(tup1,tup2) # compares two tuples

'string'

In [50]:
len(tup1)     # length of a tuple

8

In [51]:
min(tup1)     # min value in tuple

1

In [52]:
max(tup1)      # max value in tuple

'string'

In [55]:
tuple([1,2,3])  # convert a list into tuple

(1, 2, 3)

# List
* Has an ordered set of items
* Mutable (can be changed, unlike tuple)
* Created using comma seprated value within square bracket
* Single and double quotes both work (when dealing with strings)
* can store different types of observations (e.g: int, float, string)
* Indices start with 0 like tuple

In [90]:
list1 = [1, 'a', 2, 'b']           # defining a list list1
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]
type(list1)

list

**Accessing List elements**

In [91]:
print list1[2]                 # value at index 2
del list1[2]                   # deleting value at index 2
print list1                    # printing list1 after delting
print list2[:3]                # print till 3rd index 3rd excluded
print list2[3:]                # print from 3rd index 3rd included

2
[1, 'a', 'b']
[1, 2, 3]
[4, 5]

**Use `append` to append an object to a list**

In [92]:
list1.append(3.3)
print(list1)

[1, 'a', 'b', 3.3]

**loop through each item in the list without using index**

In [94]:
for item in list1:
    print(item*2)

2
aa
bb
6.6

**using the indexing operator**

In [95]:
i=0
while( i != len(list2) ):
    print(x[i])
    i = i + 1

T
h
i
s

**Basic List Operations**

In [97]:
print(len(list3))       # len() gives lenght of tuple
print([1] * 4)          # * used for repetition
print 5 in list2        # in used to check membership output will be true/false
print [1,2]+[3,4]       # concatenation

4
[1, 1, 1, 1]
True
[1, 2, 3, 4]

**List has same built-in functions like tuple**

In [101]:
cmp(list1,list2)        #compare elements of two lists
print len(list1)        # to get list length
print min(list1)        # to get min value in the list
print max(list1)        # to get max value in the list
list(tup1)              # converting a sequence like tuple to list

4
1
b

[1, 2, 2, 3, 4, 5, 6, 'string']

**List Methods**

In [108]:
list3.append(1100)       # list.append(obj) is used to add a "obj" in the list
print list3

['a', 'b', 'c', 'd', 1, 1, 1100]

In [109]:
list3.count(1)           # list.count(obj) is used to get count of "obj" in list

2

In [112]:
a = [1,2,3] 
b = [1000,2000]
a.extend(b)               # list.extend(seq) add seq to existing list
print a

[1, 2, 3, 1000, 2000]

In [111]:
list3.index('a')         # list.index(obj) is used to get lowest index in the list, obj appears

0

In [116]:
a.insert(0,10000)        # a.insert(index,obj) adds object to given index
print a

[10000, 10000, 10000, 1, 2, 3, 1000, 2000]

In [118]:
list = [1,2.2,3,'a',100,200,5]
list.remove('a')         # removes obj from list
list.reverse()           # reverse the list
list.sort()              # sort in acendinh order
print list

[1, 2.2, 3, 5, 100, 200]

# Dictionaries 
* Has {Key:Value} pair structure (not sequences like tuple and list)
* key and its value seprated by **":"** and items seprated by **","**
* keys are unique but values can be same
* keys must be of an immutable data type such as strings, numbers, or tuples but values can be of any type
* They better suited when a collectionâ€™s items are named or labeled
* Accessed by key, not offset position

In [24]:
x = {'name': 'Om', 'add': 'Ind', 'email': 'abc@gmail.com'}
type(x)

dict

**Getting value using key**

In [25]:
x['name']                     # Retrieve a value by using the indexing operator

'Om'

**Iterate over all of the keys:**

In [30]:
for name in x:
    print(x[name])

Ind
Om
abc@gmail.com

**Iterate over all of the values:**

In [27]:
for email in x.values():
    print(email)

Ind
Om
abc@gmail.com

**Iterate over all of the items in the list:**

In [28]:
for name, email in x.items():
    print(name)
    print(email)

add
Ind
name
Om
email
abc@gmail.com

**We can unpack a sequence into different variables:**

In [17]:
x = ('aaaa', 'bbbb','cccc')            # here x is a tuple
fname, lname, email = x

In [18]:
fname

'aaaa'

In [19]:
lname

'bbbb'

**Make sure the number of values you are unpacking matches the number of variables being assigned**

In [20]:
fname, lname = x

ValueError: too many values to unpack

<br>
# The Python Programming Language: Dates and Times

In [ ]:
import datetime as dt
import time as tm

<br>
`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [ ]:
tm.time()

<br>
Convert the timestamp to datetime.

In [ ]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

<br>
Handy datetime attributes:

In [ ]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

<br>
`timedelta` is a duration expressing the difference between two dates.

In [ ]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

<br>
`date.today` returns the current local date.

In [ ]:
today = dt.date.today()

In [ ]:
today - delta # the date 100 days ago

In [ ]:
today > today-delta # compare dates

<br>
# The Python Programming Language: Objects and map()

<br>
An example of a class in python:

In [ ]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [ ]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

<br>
Here's an example of mapping the `min` function between two lists.

In [ ]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

<br>
Now let's iterate through the map object to see the values.

In [ ]:
for item in cheapest:
    print(item)

<br>
# The Python Programming Language: Lambda and List Comprehensions

<br>
Here's an example of lambda that takes in three parameters and adds the first two.

In [ ]:
my_function = lambda a, b, c : a + b

In [ ]:
my_function(1, 2, 3)

<br>
Let's iterate from 0 to 999 and return the even numbers.

In [ ]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

<br>
Now the same thing but with list comprehension.

In [ ]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list